<footer class="bg-white shadow dark:bg-gray-800">
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
        <div class="flex items-center mt-4 md:mt-0">
            <a href="#" class="text-gray-500 hover:text-gray-700 mx-2">
                <i class="fa fa-facebook text-white"></i>
            </a>
            <a href="#" class="text-gray-500 hover:text-gray-700 mx-2">
                <i class="fa fa-instagram text-white"></i>
            </a>
            <a href="#" class="text-gray-500 hover:text-gray-700 mx-2">
                <i class="fa fa-youtube text-white"></i>
            </a>
        </div>

        <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2025 <a href="https://flowbite.com/"
                class="hover:underline">MasTi™</a>. All Rights Reserved.
        </span>
        <ul class="flex flex-wrap items-center text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">

            <li>
                <a href="#" class="hover:underline me-4 md:me-6">About</a>
            </li>
            <li>
                <a href="#" class="hover:underline">Contact</a>
            </li>
        </ul>
    </div>
</footer>